{% extends "crm_admin/base.html" %}
{% load result_tags %}
{% load static %}
{% block title %}Campaigns{% endblock %}

{% block content %}
            <div class="data-table-area mg-b-15">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="sparkline13-list">
                            <div class="sparkline13-hd">
                                <div class="main-sparkline13-hd">
                                    <h1>Campaigns List</h1>
                                    <div class="add-product">
                                        <a href="{% url "crm_admin:campaign_add" %}">Add Campaign</a>
                                    </div>
                                </div>

                            </div>
                            <div class="sparkline13-graph">
                                <div class="datatable-dashv1-list custom-datatable-overright">
                                    <div id="toolbar">
                                        <select class="form-control dt-tb">
											<option value="">Export Basic</option>
											<option value="all">Export All</option>
											<option value="selected">Export Selected</option>
										</select>
                                    </div>
                                    <table id="table" data-toggle="table" data-pagination="true" data-search="true" data-show-columns="true" data-show-pagination-switch="true" data-show-refresh="true" data-key-events="true" data-show-toggle="true" data-resizable="true" data-cookie="true"
                                        data-cookie-id-table="saveId" data-show-export="true" data-click-to-select="true" data-toolbar="#toolbar">
                                        <thead>
                                            <tr>
                                                <th data-field="" data-checkbox="true"></th>
                                                <th data-field="id">SR</th>
                                                <th data-field="name">Name</th>
                                                <th data-field="executives">Executives</th>
                                                <th data-field="status">Status</th>
                                                <th data-field="start_date">Start Date</th>
                                                <th data-field="end_date">End Date</th>
                                                <th data-field="prospects">Prospects</th>
                                                <th data-field="leads">Leads</th>
                                                <th data-field="views">Views</th>
                                                <th data-field="dncs">DNCS</th>
                                                <th data-field="action">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            {% for campaign in campaigns %}
                                                <tr>
                                                    <td></td>
                                                    <td>{{ forloop.counter }}</td>
                                                    <td>{{ campaign.get_display_text }}</td>
                                                    <td>{{ campaign.get_executives.count }}</td>
                                                    <td>{{ campaign.get_active_status }}</td>
                                                    <td>{{ campaign.start_date }}</td>
                                                    <td>{{ campaign.end_date }}</td>
                                                    <td>{{ campaign.prospects_non_attempted.count }} / {{ campaign.get_all_prospects.count }}</td>
                                                    <td>{{ campaign.get_all_leads.count }}</td>
                                                    <td>{{ campaign.get_all_views.count }}</td>
                                                    <td>{{ campaign.get_all_dncs.count }}</td>
                                                    <td class="datatable-ct">
                                                        <a href="{{ campaign.get_admin_update_url }}"> <i class="fa fa-eye"> </i> </a>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
