{% extends "crm_admin/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}Delete Prospect{% endblock %}
{% block content %}

    <div class="container text-center">
        <div class="jumbotron col-lg-6">
            <form method="post">
            {% if prospect.is_campaign_attempted %}
                <span class="alert alert-danger btn-block">Prospect to be attempted in campaign ({{ prospect.prospectcampaignrelation.campaign.get_display_text }})</span>
            {% endif %}
            <h3>{{ prospect.get_display_text }}</h3>
            <h4>Make sure your really wants to delete this Prospect</h4>
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" class="btn btn-danger" value="Delete">
        </form>
        </div>
    </div>
    <br><br><br>

{% endblock %}