{% extends "crm_admin/base.html" %}
{% load result_tags %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}All Prospect{% endblock %}

{% block content %}


            <div class="container">
                <form method="get">

                    <div class="row">
                        <div class="form-group col-lg-2">
                            {{ filter.form.prospect_campaign_relation__campaign|as_crispy_field }}
                        </div>
                        <div class="form-group col-lg-3">
                            {{ filter.form.by|as_crispy_field }}
                        </div>
                        <div class="form-group col-lg-3">
                            {{ filter.form.created_on|as_crispy_field }}
                        </div>
                        <div class="form-group col-lg-3">
                            {{ filter.form.is_approved|as_crispy_field }}
                        </div>
                    </div>

                    <input class="btn btn-primary" type="submit" value="Filter">
                </form>
                <br>
            </div>



<div class="data-table-area mg-b-15">
                <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="sparkline13-list">
                            <div class="sparkline13-hd">
                                <div class="main-sparkline13-hd">
                                    <h1>Prospect List</h1>
                                    <div class="add-product">
                                        <a href="{% url "crm_admin:prospect_add" %}">Add Prospect</a>
                                        <a href="#">Add Prospect</a>
                                    </div>
                                </div>

                            </div>
                            <div class="sparkline13-graph">
                                <div class="datatable-dashv1-list custom-datatable-overright">
                                    <div id="toolbar">
                                        <select class="form-control dt-tb">
											<option value="">Export Basic</option>
											<option value="all">Export All</option>
											<option value="selected">Export Selected</option>
										</select>
                                    </div>
                                    <table id="table" data-toggle="table" data-pagination="true" data-search="true" data-show-columns="true" data-show-pagination-switch="true" data-show-refresh="true" data-key-events="true" data-show-toggle="true" data-resizable="true" data-cookie="true"
                                        data-cookie-id-table="saveId" data-show-export="true" data-click-to-select="true" data-toolbar="#toolbar">
                                        <thead>
                                            <tr>
                                                <th data-field="state" data-checkbox="true"></th>
                                                <th data-field="id">No</th>
                                                <th data-field="name">Name</th>
                                                <th data-field="by_executive">Executive</th>
                                                <th data-field="campaign">Campaign</th>
                                                <th data-field="created_on">Created On</th>
                                                <th data-field="approved">Approved</th>
                                                <th data-field="action">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            {% for prospect_update in prospect_updates %}
                                                <tr>
                                                    <td></td>
                                                    <td>{{ forloop.counter }}</td>
                                                    <td>{{ prospect_update.prospect_campaign_relation.prospect.get_display_text }}</td>
                                                    <td>{{ prospect_update.by.get_display_text }}</td>
                                                    <td>{{ prospect_update.prospect_campaign_relation.campaign.get_display_text }}</td>
                                                    <td>{{ prospect_update.created_on }}</td>
                                                    <td>{{ prospect_update.is_approved }}</td>
                                                    <td class="datatable-ct"><a href="{{ prospect_update.get_admin_update_url }}"><i class="fa fa-eye"></i></a></td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>



{% endblock %}
























