{% load static %}
<!doctype html>
<html class="no-js" lang="en">

<head>

    {% block full_title %}
        <title>{% block title %}base file{% endblock %} | Admin - Fine-Leap Systems</title>
    {% endblock %}

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/x-icon" href="{% static "img/logo/favicon.png" %}">
    <!-- Google Fonts
		============================================ -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900" rel="stylesheet">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="{% static "css/font-awesome.min.css" %}">
    <!-- owl.carousel CSS
		============================================ -->
    <link rel="stylesheet" href="{% static "css/owl.carousel.css" %}">
    <link rel="stylesheet" href="{% static "css/owl.theme.css" %}">
    <link rel="stylesheet" href="{% static "css/owl.transitions.css" %}">
    <!-- animate CSS
		============================================ -->
    <link rel="stylesheet" href="{% static "css/animate.css" %}">
    <!-- normalize CSS
		============================================ -->
    <link rel="stylesheet" href="{% static "css/normalize.css" %}">
    <!-- meanmenu icon CSS
		============================================ -->
    <link rel="stylesheet" href="{% static "css/meanmenu.min.css" %}">
    <!-- main CSS
		============================================ -->
    <link rel="stylesheet" href="{% static "css/main.css" %}">
    <!-- educate icon CSS
		============================================ -->
    <link rel="stylesheet" href="{% static "css/educate-custon-icon.css" %}">
    <!-- morrisjs CSS
		============================================ -->
    <link rel="stylesheet" href="{% static "css/morrisjs/morris.css" %}">
    <!-- mCustomScrollbar CSS
		============================================ -->
    <link rel="stylesheet" href="{% static "css/scrollbar/jquery.mCustomScrollbar.min.css" %}">
    <!-- metisMenu CSS
		============================================ -->
    <link rel="stylesheet" href="{% static "css/metisMenu/metisMenu.min.css" %}">
    <link rel="stylesheet" href="{% static "css/metisMenu/metisMenu-vertical.css" %}">
    <!-- calendar CSS
		============================================ -->
    <link rel="stylesheet" href="{% static "css/calendar/fullcalendar.min.css" %}">
    <link rel="stylesheet" href="{% static "css/calendar/fullcalendar.print.min.css" %}">
    <!-- style CSS
		============================================ -->
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <!-- responsive CSS
		============================================ -->
    <link rel="stylesheet" href="{% static "css/responsive.css" %}">

    <link rel="stylesheet" type="text/css" href="{% static "css/crm_custom.css" %}">

    <link rel="stylesheet" href="{% static "css/modals.css" %}">
    <link rel="stylesheet" href="{% static "css/form/all-type-forms.css" %}">
    <link rel="stylesheet" href="{% static "css/datapicker/datepicker3.css" %}">



    <link rel="stylesheet" href="{% static "css/editor/select2.css" %}">
    <link rel="stylesheet" href="{% static "css/editor/datetimepicker.css" %}">
    <link rel="stylesheet" href="{% static "css/editor/bootstrap-editable.css" %}">
    <link rel="stylesheet" href="{% static "css/editor/x-editor-style.css" %}">


    <link rel="stylesheet" href="{% static "css/data-table/bootstrap-table.css" %}">
    <link rel="stylesheet" href="{% static "css/data-table/bootstrap-editable.css" %}">

    <!-- modernizr JS
		============================================ -->
    <script src="{% static "js/vendor/modernizr-2.8.3.min.js" %}"></script>

    {% block extra_links %}
    {% endblock %}



</head>

<body>

{##}
{#    {% if messages %}#}
{#        {% for message in messages %}#}
{#            <span class="alert btn alert-{{ message.tags }}">{{ message }}</span>#}
{#        {% endfor %}#}
{#    {% endif %}#}

    {% include "crm_admin/left_menu.html" %}

    <div class="all-content-wrapper">
        {% include "crm_admin/header.html" %}

        {% block content %}

        {% endblock %}

        {% include "portal/footer.html" %}

    </div>


    <!-- Start Scripts -->

    <!-- jquery============================================ -->

    {% block extra_scripts %}
    {% endblock %}
    <script>
        var today = new Date();
        var dd = today.getDate();
        var mm = today.getMonth() + 1; //January is 0!

        var yyyy = today.getFullYear();
        if (dd < 10) {
          dd = '0' + dd;
        }
        if (mm < 10) {
          mm = '0' + mm;
        }
        var date = dd + '/' + mm + '/' + yyyy;
        var fileName="Campaigns_list_" + date;
    </script>

    <script src="{% static "js/vendor/jquery-1.12.4.min.js" %}"></script>
    <!-- bootstrap JS
		============================================ -->
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <!-- wow JS
		============================================ -->
    <script src="{% static "js/wow.min.js" %}"></script>
    <!-- price-slider JS
		============================================ -->
    <script src="{% static "js/jquery-price-slider.js" %}"></script>
    <!-- meanmenu JS
		============================================ -->
    <script src="{% static "js/jquery.meanmenu.js" %}"></script>
    <!-- owl.carousel JS
		============================================ -->
    <script src="{% static "js/owl.carousel.min.js" %}"></script>
    <!-- sticky JS
		============================================ -->
    <script src="{% static "js/jquery.sticky.js" %}"></script>
    <!-- scrollUp JS
		============================================ -->
    <script src="{% static "js/jquery.scrollUp.min.js" %}"></script>
    <!-- counterup JS
		============================================ -->
    <script src="{% static "js/counterup/jquery.counterup.min.js" %}"></script>
    <script src="{% static "js/counterup/waypoints.min.js" %}"></script>
    <script src="{% static "js/counterup/counterup-active.js" %}"></script>
    <!-- mCustomScrollbar JS
		============================================ -->
    <script src="{% static "js/scrollbar/jquery.mCustomScrollbar.concat.min.js" %}"></script>
    <script src="{% static "js/scrollbar/mCustomScrollbar-active.js" %}"></script>
    <!-- metisMenu JS
		============================================ -->
    <script src="{% static "js/metisMenu/metisMenu.min.js" %}"></script>
    <script src="{% static "js/metisMenu/metisMenu-active.js" %}"></script>
    <!-- morrisjs JS
		============================================ -->
    <script src="{% static "js/morrisjs/raphael-min.js" %}"></script>
    <script src="{% static "js/morrisjs/morris.js" %}"></script>
    <script src="{% static "js/morrisjs/morris-active.js" %}"></script>
    <!-- morrisjs JS
		============================================ -->
    <script src="{% static "js/sparkline/jquery.sparkline.min.js" %}"></script>
    <script src="{% static "js/sparkline/jquery.charts-sparkline.js" %}"></script>
    <script src="{% static "js/sparkline/sparkline-active.js" %}"></script>
    <!-- calendar JS
		============================================ -->
    <script src="{% static "js/calendar/moment.min.js" %}"></script>
    <script src="{% static "js/calendar/fullcalendar.min.js" %}"></script>
    <script src="{% static "js/calendar/fullcalendar-active.js" %}"></script>
    <!-- plugins JS
		============================================ -->
    <script src="{% static "js/plugins.js" %}"></script>
    <!-- main JS
		============================================ -->
    <script src="{% static "js/main.js" %}"></script>
    <!-- tawk chat JS
		============================================ -->
    <script src="{% static "js/tawk-chat.js" %}"></script>

    <!-- End Scripts -->
    <script src="{% static "js/tab.js" %}"></script>

    <script src="{% static "js/icheck/icheck.min.js" %}"></script>
    <script src="{% static "js/icheck/icheck-active.js" %}"></script>


    <script src="{% static "js/datapicker/bootstrap-datepicker.js" %}"></script>
    <script src="{% static "js/datapicker/datepicker-active.js" %}"></script>

    <script src="{% static "js/data-table/bootstrap-table.js" %}"></script>
    <script src="{% static "js/data-table/tableExport.js" %}"></script>
    <script src="{% static "js/data-table/data-table-active.js" %}"></script>
    <script src="{% static "js/data-table/bootstrap-table-editable.js" %}"></script>
    <script src="{% static "js/data-table/bootstrap-editable.js" %}"></script>
    <script src="{% static "js/data-table/bootstrap-table-resizable.js" %}"></script>
    <script src="{% static "js/data-table/colResizable-1.5.source.js" %}"></script>
    <script src="{% static "js/data-table/bootstrap-table-export.js" %}"></script>
    <script src="{% static "js/editable/jquery.mockjax.js" %}"></script>
    <script src="{% static "js/editable/mock-active.js" %}"></script>
    <script src="{% static "js/editable/select2.js" %}"></script>
    <script src="{% static "js/editable/moment.min.js" %}"></script>
    <script src="{% static "js/editable/bootstrap-datetimepicker.js" %}"></script>
    <script src="{% static "js/editable/bootstrap-editable.js" %}"></script>
    <script src="{% static "js/editable/xediable-active.js" %}"></script>


</body>

</html>