    {% load static %}

        <style>
            .fa-lightgray{
                color: #8d9498!important;
            }
        </style>

        <div class="left-sidebar-pro">
        <nav id="sidebar" class="">
            <div class="sidebar-header">
                <a href="{% url "portal:home" %}"><img class="main-logo" src="{% static "img/logo/logosn.png" %}" alt="" /><br><span class="main-logo">Fine-Leap Systems</span></a>
                <strong><a href="{% url "portal:home" %}"><img src="{% static "img/logo/logosn.png" %}" alt="" /></a></strong>
            </div>
            <div class="left-custom-menu-adp-wrap comment-scrollbar">
                <nav class="sidebar-nav left-sidebar-menu-pro">
                    <ul class="metismenu" id="menu1">
                        <li>
                            <a href="{% url "crm_admin:home" %}">
                               <span class="educate-icon educate-home icon-wrap"></span>
                               <span class="mini-click-non">Dashboard</span>
                            </a>
                        </li>
                        <li>
                            <a class="has-arrow" href="{% url "crm_admin:executive_list" %}" aria-expanded="false"><span class="fa fa-lightgray fa-user-o icon-wrap"></span> <span class="mini-click-non">Executives</span></a>
                            <ul class="submenu-angle" aria-expanded="false">
                                <li><a title="All Executives" href="{% url "crm_admin:executive_list" %}"><span class="mini-sub-pro">All Executives</span></a></li>
                                <li><a title="Add Executive" href="{% url "crm_admin:executive_add" %}"><span class="mini-sub-pro">Add Executive</span></a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="has-arrow" href="{% url "crm_admin:campaign_list" %}" aria-expanded="false"><span class="educate-icon educate-project icon-wrap"></span> <span class="mini-click-non">Campaigns</span></a>
                            <ul class="submenu-angle" aria-expanded="false">
                                <li><a title="All Campaigns" href="{% url "crm_admin:campaign_list" %}"><span class="mini-sub-pro">All Campaigns</span></a></li>
                                <li><a title="Add Campaign" href="{% url "crm_admin:campaign_add" %}"><span class="mini-sub-pro">Add Campaign</span></a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="has-arrow" href="{% url "crm_admin:client_list" %}" aria-expanded="false"><span class="educate-icon educate-professor icon-wrap"></span> <span class="mini-click-non">Clients</span></a>
                            <ul class="submenu-angle" aria-expanded="false">
                                <li><a title="All Clients" href="{% url "crm_admin:client_list" %}"><span class="mini-sub-pro">All Clients</span></a></li>
                                <li><a title="Add Client" href="{% url "crm_admin:client_add" %}"><span class="mini-sub-pro">Add Client</span></a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="has-arrow" href="{% url "crm_admin:prospect_list" %}" aria-expanded="false"><span class="fa fa-lightgray fa-address-card-o icon-wrap"></span> <span class="mini-click-non">Prospects</span></a>
                            <ul class="submenu-angle" aria-expanded="false">
                                <li><a title="All Prospects" href="{% url "crm_admin:prospect_list_filter" %}"><span class="mini-sub-pro">All Prospects</span></a></li>
                                <li><a title="Add Prospect" href="{% url "crm_admin:prospect_add" %}"><span class="mini-sub-pro">Add Prospect</span></a></li>
                            </ul>
                        </li>
                        <li>
                            <a title="Landing Page" href="{% url "crm_admin:prospect_update_list_filter" %}" aria-expanded="false"><span class="fa fa-lightgray fa-area-chart icon-wrap sub-icon-mg" aria-hidden="true"></span> <span class="mini-click-non">Propsect Updates</span></a>
                        </li>
                        <li>
                            <a title="Landing Page" href="{% url "crm_admin:progress" %}" aria-expanded="false"><span class="fa fa-lightgray fa-area-chart icon-wrap sub-icon-mg" aria-hidden="true"></span> <span class="mini-click-non">Progress</span></a>
                        </li>
                        <li>
                            <a title="Landing Page" href="{% url "portal:logout" %}" aria-expanded="false"><span class="fa fa-lightgray fa-power-off icon-wrap sub-icon-mg" aria-hidden="true"></span> <span class="mini-click-non">Logout</span></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </nav>
    </div>
